.DS-background{
    background-color: #F5F6F8; /* Set the background color to red */
      margin: 0; /* Remove default margin */
      padding: 0; /* Remove default padding */
      height: 100vh; /* Set the height of the body to 100% of the viewport height */
    }


.DS-Lside{
    flex: 55;
    max-height: 100%;
}

.DS-Rside{
    flex: 30;
}

.DS-whole-screen{
    display:inline-flex;
    width: 200vh;
    overflow: auto;
    max-height: 100%;
}

.Date{
    top: 2%;
    left: 20%;
    width:67%;
    height: 20%;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: auto;
    display: inline-flex;
    align-items: center;
}
.DS-Time{
    align-items: center;
    text-align: center;
}
.DS-Time-Container{
    margin-top: 3%;
    margin-bottom: 5%;
    left: 10%;
    width:77%;
    height: 20%;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: auto;
    align-items: center;
    text-align: center;
    
}

.DS-Task{
    top: 5%;
    left: 10%;
    width:77%;
    height: 67%;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: auto;
    align-items: center;
    text-align: center;
}


.Scheduler{
    top: 2%;
    left: 0%;
    width:95%;
    height: 95%;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height:95%;
    overflow: auto;
}



.Date-font{
    text-align: center;
}

.DS-Task-taskList{
    margin-bottom: 5%;
}

.DS-Task-Individual{
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin: 7%;
    overflow: auto;
    width: max-content;
}

.DS-Task-Textfield{
    display: inline;
}