/* Change scrollbar width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Change scrollbar track color */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Change scrollbar thumb color */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

@media screen and (max-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%; left: 4%; top: 5%; margin-bottom: 7%;}
    .col-s-12 {width: 100%;}
    .block{display: block;}
}

@media screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%; left: 13%; top: 2%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .inline-flex{display: flex;}
}

  .background{
      background-color: #F5F6F8; /* Set the background color to red */
        height: 100vh; /* Set the height of the body to 100% of the viewport height */
  }

  
  .whole-screen{
      width: 100%;
      overflow: auto;
      max-height: 100%;
  }
  
.leftSide{
    display: block;
    justify-content: center; /* Horizontally center the inner div */
    align-items: center; /* Vertically center the inner div */
}

  .StaffInfo{
      height: 41%;
      position: relative;
      background-color: white;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      overflow: auto;
  }
  .StaffInfo-InfoText{
      text-align: center;
      font-size: 15px;
      color: grey;
      line-height: 1.5em;
  }
  
  .overflow-auto{
      overflow: auto;
  }
  
  .StaffInfo-AvatarContainer{
      margin-top: 2%;
      display: inline-flex;
      align-items: center;
      column-gap: 80px;
      justify-content: space-between;
  }
  
  .StaffInfo-AvatarContainer-DepartmentText{
      font-style: italic;
      text-align: end;
  }
  
  .StaffInfo-InfoContainer{
      margin-top: 3%;
  }
  
  .StaffInfo-ButtonContainer{
      margin-top: 3%;
      display: block;
  }
  
  .StaffInfo-ButtonContainer-Btn{
      text-align: center;
  }
  
  .ResponPatients{
      top: 5%;
      height: 50%;
      position: relative;
      background-color: white;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
  }
  
  .ResponPatients-Header-Text{
      text-align: center;
  }
  
  .Scheduler{
      height: 95%;
      position: relative;
      background-color: white;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      height:95%;
      overflow: auto;
  }
  
  .Scheduler-Container-time{
      user-select: none;
      flex-grow:0;
  }
  
  .Scheduler-Container-timediv{
      display:flex;
      flex-direction:row;
      align-items: center;
      margin-bottom: 1.5cm;
  }
  
  .Scheduler-Container-time-divider{
      flex-grow:1;
      height: 1px;
      background-color: #000000;
  }
  
  .Scheduler-Container-timeleftbar{
      display: inline-table;
      height: 200vh;
  
  }
  
  .Scheduler-Header-Container{
      z-index: 2;
      display: block;
      margin-bottom: 3%;
  }
  
  .Scheduler-Header{
      margin-left: 3%;
      display: inline;
  }
  
  .Scheduler-Footer{
      position: sticky;
      align-items: center;
      display: inline-flex;
      z-index: 100;
      bottom: 0;
      left: 95%;
  }
  
  .Scheduler-dropdown-Container{
      display: inline;
  }
  .Scheduler-dropdown{
      position: relative;
      display: inline-block;
  }
  
  .Scheduler-dropdownContent{
      display: none;
      position: absolute;
      background-color: #FFFFFF;
      z-index: 1;
      right: 0;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .Scheduler-dropdown:hover .Scheduler-dropdownContent{
      display: block;
  }
  
  .Scheduler-Event{
      position: absolute;
      top:10%;
      left: 5%;
  }
  
  .Scheduler-Event-Header{
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      margin: 5%;
  }
  
  .Scheduler-Event-Save{
      display: block;
      align-items: center;
      justify-content: center;
  }
  
  .Scheduler-Container-Event{
      width: 88%; /* Make the button span the entire width of its container */
      padding: 10px 20px; /* Adjust padding to increase button size */
      background-color: #5932EA; /* Choose your desired background color */
      color: white; /* Text color */
      border: none; /* Remove default border */
      border-radius: 5px; /* Optional: Round the corners */
      cursor: pointer; /* Add cursor pointer on hover */
      height: 100px;
  }
  
  .close{
      display: none;
  }
  
  .Scheduler-weekly-Header{
      margin-left: 5%;
      text-align: justify;
      margin-right: 0 auto;
      width: 95%;
  }
  
  .Scheduler-weekly-Header-text{
      display: inline-block;
      margin: 0 2%;
      width: 10%;
      text-align: center;
  }
  
  
  .Scheduler-rightbor-container{
      display: inline-flex;
      justify-content: space-between;
      width: 80%;
  }
  .inline-block {
      flex-grow: 1;
      border-right: 3px solid black; /* Border on the right */
      box-sizing: border-box; /* Ensure borders are included in width */
      height: 1950px;
      color: #FFFFFF;
      user-select: none;
    }
  
  .Scheduler-Container-Day-Header-FontStyle{    
      text-align: center;
      padding-right:  4.5%;
      padding-left:  4.5%;
      border-left: 3px;
      height: 200vh;
      display: inline-block;
  }
  
  .RightBoarderSolid{    
      border-right: 3px solid;
  }
  
  